# Import Dependencies

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from sqlalchemy import create_engine, inspect
from config import *

# Create Function to WebScrape Spotify

* Accepts chart type (e.g. top_200, viral_50)
* Defaults to Top 200 charts
* Accepts date argument in format 2020-06-14
* Defaults to latest date
* Accepts regional chart argument (e.g. global, us, uk)
* Defaults to global charts

In [16]:
def webScrapeSpotify(region='global', chart_type='top_200', date='latest'):

    #Set Source ID
    s_id =1
    
    #Set Chart Type
    if (chart_type=='top_200'):
        c_type = 'regional'
        c_id = 2
    elif (chart_type=='viral_50'):
        c_type = 'viral'
        c_id = 1
    else:
        print(f"{chart_type} is an invalid chart type")

    #Set Region
    if (region=='global'):
        reg = 'global'
        r_id = 1
    elif (region=='us'):
        reg = 'us'
        r_id = 2
    elif (region=='uk'):
        reg = 'gb'
        r_id = 3
    else:
        print(f"{region} is an invalid region")
    
    #Set URL
    base_url = "https://spotifycharts.com/"
    url = f"{base_url}{c_type}/{reg}/daily/"   
    
    #Submit Request
    html = requests.get(url+date)

    #Create BeautifulSoup Object
    soup = BeautifulSoup(html.text, 'lxml')
    table = soup.findAll('table',{"class":"chart-table"})[0]

    #Import table to dataframe 
    df = pd.read_html(str(table), header=0)[0]
    df[['title','artist']] = df['Track'].str.split(pat = " by ", expand=True)
    df = df.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'Track'])
    df.rename(columns={"Unnamed: 1":"position", "Streams":"streams"}, inplace=True)
    column_names = ["position", "title", "artist", "streams"]
    df = df.reindex(columns=column_names)
    df.insert(loc=4, column='source_id', value=s_id)
    df.insert(loc=5, column='chart_id', value=c_id)
    df.insert(loc=6, column='region_id', value=r_id)
    
    
    return df

### Validate: Global Top 200 for Different Chart Types

In [17]:
df = webScrapeSpotify()
df.head()

,position,title,artist,streams,source_id,chart_id,region_id
0,1,ROCKSTAR (feat. Roddy Ricch),DaBaby,5172802,1,2,1
1,2,Blinding Lights,The Weeknd,4476461,1,2,1
2,3,Roses - Imanbek Remix,SAINt JHN,3834490,1,2,1
3,4,death bed (coffee for your head) (feat. beabad...,Powfu,3216040,1,2,1
4,5,Rain On Me (with Ariana Grande),Lady Gaga,3139866,1,2,1

In [24]:
df_us = webScrapeSpotify('us')
df_us.head()

,position,title,artist,streams,source_id,chart_id,region_id
0,1,ROCKSTAR (feat. Roddy Ricch),DaBaby,1436624,1,2,2
1,2,Party Girl,StaySolidRocky,1020692,1,2,2
2,3,Blueberry Faygo,Lil Mosey,928291,1,2,2
3,4,Blinding Lights,The Weeknd,907197,1,2,2
4,5,Watermelon Sugar,Harry Styles,833472,1,2,2

In [25]:
df_uk = webScrapeSpotify('uk')
df_uk.head()

,position,title,artist,streams,source_id,chart_id,region_id
0,1,ROCKSTAR (feat. Roddy Ricch),DaBaby,481179,1,2,3
1,2,Rain On Me (with Ariana Grande),Lady Gaga,321843,1,2,3
2,3,Breaking Me,Topic,303302,1,2,3
3,4,Blinding Lights,The Weeknd,301481,1,2,3
4,5,Rover (feat. DTG),S1mba,292859,1,2,3

In [27]:
df_v50 = webScrapeSpotify('global', 'viral_50')
df_v50df_uk = webScrapeSpotify('uk').head()

,position,title,artist,streams,source_id,chart_id,region_id
0,1,I See Red,Everybody Loves an Outlaw,NaN,1,1,1
1,2,Stunnin',Curtis Waters,NaN,1,1,1
2,3,Marikit,Juan Caoile,NaN,1,1,1
3,4,Hard For Me,Michele Morrone,NaN,1,1,1
4,5,Ekspektasi,Okin,NaN,1,1,1

In [28]:
df_us_v50 = webScrapeSpotify('us', 'viral_50')
df_us_v50.head()

,position,title,artist,streams,source_id,chart_id,region_id
0,1,I See Red,Everybody Loves an Outlaw,NaN,1,1,2
1,2,Stunnin',Curtis Waters,NaN,1,1,2
2,3,Hard For Me,Michele Morrone,NaN,1,1,2
3,4,Then Leave (feat. Queendome Come),Beatking,NaN,1,1,2
4,5,Do It,Chloe x Halle,NaN,1,1,2

In [29]:
df_uk_v50 = webScrapeSpotify('uk', 'viral_50')
df_uk_v50.head()

,position,title,artist,streams,source_id,chart_id,region_id
0,1,I See Red,Everybody Loves an Outlaw,NaN,1,1,3
1,2,Hard For Me,Michele Morrone,NaN,1,1,3
2,3,Who's That What's That,Niko B,NaN,1,1,3
3,4,Stunnin',Curtis Waters,NaN,1,1,3
4,5,Feel It,Michele Morrone,NaN,1,1,3

# Create database connection

In [4]:
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [5]:
engine.table_names()

['source', 'tracks', 'region', 'chart_type']

In [6]:
#conn.close()
#engine.dispose

# Create Function to Load DataFrame into Database

In [7]:
def loadDFintoDB(df, table='tracks'):
    
    #Connect to Database
    connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
    engine = create_engine(connection_string)
    conn =  engine.connect()
    
    #Load DataFrame into Database 
    df.to_sql(name=table, con=conn, if_exists='append',index=False)
    
    #Disconnect from Database
    conn.close()
    engine.dispose

### Load UK Chart into Database

In [18]:
loadDFintoDB(df)

In [30]:
loadDFintoDB(df_us)
loadDFintoDB(df_uk)
loadDFintoDB(df_v50)
loadDFintoDB(df_us_v50)
loadDFintoDB(df_uk_v50)

# Verify Database

In [19]:
#Connect to Database
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)
conn =  engine.connect()

In [20]:
query = """
            SELECT 
                *
            FROM
                tracks
            LIMIT 5;
        """

In [21]:
test = pd.read_sql(query, con=conn)
test.head()

,track_id,position,title,artist,streams,source_id,region_id,chart_id,last_updated
0,1,1,ROCKSTAR (feat. Roddy Ricch),DaBaby,5172802,1,1,2,2020-06-23 19:20:36.982652
1,2,2,Blinding Lights,The Weeknd,4476461,1,1,2,2020-06-23 19:20:36.982652
2,3,3,Roses - Imanbek Remix,SAINt JHN,3834490,1,1,2,2020-06-23 19:20:36.982652
3,4,4,death bed (coffee for your head) (feat. beabad...,Powfu,3216040,1,1,2,2020-06-23 19:20:36.982652
4,5,5,Rain On Me (with Ariana Grande),Lady Gaga,3139866,1,1,2,2020-06-23 19:20:36.982652

In [22]:
conn.close()
engine.dispose